<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<center>
		<h1>PLease upload your pdf.</h1>
		<br>
		<h3>Note: File name should be not more than 30 characters.</h3>
		<br>
		<iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>
		<form  method="POST" action="/accounts/" target="_blank" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{request.session.username}}">
			<label>Title:</label>
			<input type="text" name="title">
			<br>
			<br>
			<label>Document:</label>
			<input type="file" name="document">
			<br>
			<br>
			<input  type="submit" name="submit">
		</form>
		<br>
		<a href="/generatebill/">Generate pay Slip</a>
		<br>
		<a href="/viewbills/">View bills</a>
		<br>
		<a href="/logout/">Logout</a>
	</center>
</body>
</html>